<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Catstagram Home</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Welcome to Catsgram!</h1>
   <img src="http://i.giphy.com/13EI77MpEwowgw.gif">
   <form method="POST" action="/result">
     Please enter your string for cats:
      <br>
     <input type="text" name="input_string">
     <br><br>
     <input type="submit" value="Submit">
   </form>
   
 </body>
</html>