<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Catstagram Result Page</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Your phrase has been catstagram!</h1>
   <img src="http://i.giphy.com/YLetWoQUO9Tq0.gif">
   <h1>Result is: <%=@result%> </h1>
 </body>
</html>